@mixin esc_contenedor {
  @media screen and(min-width:37.5rem) {
    & {
      figure,
      .tarjeta {
        @include display_flex(row, space-between, flex-start);
        .imagen {
          flex-basis: 35%;
        }
        figcaption {
          margin-top: 0;
          flex-basis: 60%;
        }
      }
    }
  }
  @media screen and(min-width:50rem) {
    & {
      #grid {
        @include display_flex(row, space-between, flex-start);
        .columna {
          margin-top: 0;
          flex-basis: calc(50% - 1rem);
          @include display_flex(column, space-between, flex-start);
          .tarjeta {
            flex-basis: 100%;
          }
          #conocimiento {
            .barra,
            p {
              height: 2vmin;
            }
          }
        }
      }
    }
    #proyectos {
      @include display_flex(row, space-between, flex-start);
      .tarjeta {
        flex-basis: calc(33% - 1rem);
        margin-top: 0;
        figure {
          .imagen {
            align-self: center;
            img {
              height: 25vmin;
            }
          }

          @include display_flex(column, space-between, flex-start);
          figcaption {
            margin-top: 1.5rem;
          }
        }
      }
    }
    #informacion_personal {
      .imagen {
        flex-basis: 25%;
        img {
          height: 25vmax;
        }
      }
      figcaption {
        flex-basis: 70%;
      }
    }
  }
}
