#pie_pagina {
  text-transform: capitalize;
  padding: 0.5em 0;
  @include display_flex(row, center, center);
  span {
    @include display_flex(row, space-between, center);
    font-size: 0.8rem;
    &,
    a {
      word-spacing: 0.25rem;
    }
    a {
      color: black;
      margin-top: 0;
    }
  }
}
