#conocimiento {
  .columna {
    .habilidades {
      width: 100%;
      &:nth-child(1) {
        .barra p {
          width: 45%;
        }
      }
      &:nth-child(2) {
        .barra p {
          width: 45%;
        }
      }
      &:nth-child(3) {
        .barra p {
          width: 75%;
        }
      }
      &:nth-child(4) {
        .barra p {
          width: 5%;
        }
      }
      &:nth-child(5) {
        .barra p {
          width: 5%;
        }
      }
      &:nth-child(6) {
        .barra p {
          width: 15%;
        }
      }
    }
  }
  .barra {
    border: none;
    border-radius: 12px;
    height: 2vmax;
    background-color: #c4c4c4;
    p {
      border: none;
      border-radius: 12px;
      height: 2vmax;
      background-color: #2f80ed;
    }
  }
  @include esc_conocimiento();
}
